html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
}

:root {
  --size-h2: 48px;
  --height-h2: 59px;
  --focus: #FFB84D;
  --hover: #FFB84D;
  --active: #E1670E;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.title-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* header */
.header {
  padding: 12px 0;
  background-color: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 86px;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 85px;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.header__search {
  fill: #000000;
  stroke: #000000;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.header__search:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.header__search:hover:not(:focus-visible) {
  fill: #FF9900;
  stroke: #FF9900;
}

.header__search:active:not(:focus-visible) {
  fill: #000;
  stroke: #000;
}

.header__nav-item {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: color 0.3s linear;
}

.header__link {
  transition: color 0.3s linear;
  white-space: nowrap;
}

.header__link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.header__link:hover:not(:focus-visible) {
  border-bottom: 2px solid #FF9900;
}

.header__link:active:not(:focus-visible) {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

/* hero */
.hero__container {
  padding-top: 100px;
  padding-left: 80px;
  background-image: url("../img/hero_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  margin-bottom: 50px;
}

.hero__content {
  max-width: 840px;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__subtitle {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero__btn {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  padding: 25px 39px 25px 40px;
  margin-bottom: 100px;
  background: #FF9900;
  border-radius: 16px;
  color: #fff;
  transition: background 0.3s ease;
}

.hero__btn:focus-visible {
  background: var(--focus);
  outline: none;
}

.hero__btn:hover:not(:focus-visible) {
  background: var(--hover);
}

.hero__btn:active:not(:focus-visible) {
  background: var(--active);
}

.hero__list {
  justify-content: center;
  padding-bottom: 25px;
}

.hero__list {
  padding-right: 58px;
}

.hero__bullit {
  margin-right: 20px;
}

/* about-us */
.about-us__title {
  margin: 0;
  margin-bottom: 20px;
}

.about-us__subtitle {
  width: calc(1235 / 1770 * 100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 49px;
}

.about-us__wrap {
  display: flex;
  max-width: 100%;
  margin-bottom: 100px;
}

.about-us__left {
  display: flex;
  width: calc(868 / 1770 * 100%);
  margin-right: 32px;
}

.about-us__card-left {
  position: relative;
  width: 100%;
  min-height: 622px;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}


.about-us__card-letf-down {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding: 50px 49px 50px 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-us__card-txt {
  width: 57%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-us__card-btn {
  text-align: center;
  padding: 19px 38px;
  width: 175px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: 3px solid #FF9900;
  border-radius: 16px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about-us__card-btn:focus-visible {
  background: #FF9900;
  outline: none;
}

.about-us__card-btn:hover:not(:focus-visible) {
  background: #FF9900;
}

.about-us__card-btn:active:not(:focus-visible) {
  background: #E1670E;
  border: 3px solid #E1670E;
}

.about-us__right {
  display: flex;
  flex-direction: column;
  width: calc(870 / 1770 * 100%);
}

.about-us__card-right {
  display: flex;
  width: 100%;
  padding: 63px 116px 64px 60px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 32px;
  background-size: 0;
}

.about-us__card-right::before {
  content: "";
  flex-shrink: 0;
  width: calc(190 / (870 - 60 - 116) * 100%);
  margin-right: 50px;
  padding-top: calc(165 / (870 - 60 - 116) * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__card-right-1 {
  background-image: url("../img/about__box.svg");
  margin-bottom: 32px;
}

.about-us__card-right-2 {
  background-image: url("../img/about__sher.svg")
}

.about-us__title-h3 {
  margin: 0;
  margin-bottom: 10px;
}

.about-us__subtitle-card {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* how */
.how__step {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 100px;
}

.how__title {
  margin-bottom: 32px;
}

.how__item:not(:last-child) {
  margin-right: 86px;
}

.how__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s linear;
}

.how__btn:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.how__btn:hover:not(:focus-visible) {
  color: #FF9900;
}

.how__btn:active:not(:focus-visible) {
  color: #E1670E;
}

.how__step-content {
  width: calc(758 / 1770 * 100%);
  margin-right: 142px;
}

.how__title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 8px;
}

.how__subtitle {
  width: 682px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 17px;
}

.how__picture {
  width: calc(870 / 1770 * 100%);
  min-height: 460px;
  padding-top: 8px;
}

.how__pict {
  border-radius: 32px;
}

.how__step-btn-list {
  display: flex;
}

.how__step-btn {
  padding: 19px 38px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
}

.how__step-btn:not(:last-child) {
  margin-right: 32px;
}

.how__step-btn-more {
  max-width: 175px;
  min-height: 60px;
  font-weight: 700;
  background: #FF9900;
  color: #FFFFFF;
  transition: background 0.3s ease;
}

.how__step-btn-more:focus-visible {
  background: var(--focus);
  outline: none;
}

.how__step-btn-more:hover:not(:focus-visible) {
  background: var(--hover);
}

.how__step-btn-more:active:not(:focus-visible) {
  background: var(--active);
}

.how__step-btn-contract {
  max-width: 147px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #000000;
  transition: color 0.3s linear, background 0.3s ease;
}

.how__step-btn-contract:focus-visible {
  color: #FFFFFF;
  background: #666666;
  outline: none;
}

.how__step-btn-contract:hover:not(:focus-visible) {
  color: #FFFFFF;
  background: #666666;
}

.how__step-btn-contract:active:not(:focus-visible) {
  color: #FFFFFF;
  background: #000000;
}

/* faq */
.faq__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 29px;
}

.faq__subtitle {
  margin: 0;
  max-width: 412px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

.faq__list {
  display: flex;
  gap: 32px;
  margin-bottom: 99px;
}

.faq__item {
  width: 33.33%;
  padding: 64px 65px 63px 59px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.faq__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* footer */
.footer {
  background: #000000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer__left {
  max-width: 252px;
  margin-right: calc(115 / 1770 * 100%);
}

.footer__link-logo {
  display: flex;
  align-items: flex-start;
  width: 224px;
  min-height: 72px;
  margin-bottom: 20px;
}

.footer__link-logo:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color 0.3s linear, fill 0.3s ease;
}

.footer__link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer__link:hover:not(:focus-visible) {
  color: #FF9900;
}

.footer__link:active:not(:focus-visible) {
  color: #E1670E;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__list-social {
  display: flex;
  margin-bottom: 35px;
}

.footer__social-icon {
  width: 60px;
  height: 60px;
  fill: #666666;
  transition: fill 0.3s ease;
}

.footer__social-link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer__social-icon:hover:not(:focus-visible) {
  fill: #FF9900;
}

.footer__social-icon:active:not(:focus-visible) {
  fill: #E1670E;
}

.footer__item-social:not(:last-child) {
  margin-right: 25px;
}

.footer__title-h2 {
  margin-bottom: 24px;
  color: #CACACA;
}

.footer__center {
  width: calc(570 / 1770 * 100%);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  padding: 14px 24px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  background: #414141;
  border-radius: 16px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  transition: background 0.3s ease;
}

.footer__textarea {
  height: 151px;
  margin-bottom: 31px;
}

.footer__input:focus-visible {
  background: #666666;
}

.footer__input:hover:not(:focus-visible) {
  background: #666666;
}

.footer__input:active:not(:focus-visible) {
  color: #FFFFFF;
  background: #666666;
}

.footer__form__end {
  display: flex;
  align-items: center;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 269px;
  height: 58px;
  margin-right: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 16px;
  transition: background 0.3s ease;
}

.footer__btn:focus-visible {
  background: var(--focus);
  outline: none;
}

.footer__btn:hover:not(:focus-visible) {
  background: var(--hover);
}

.footer__btn:active:not(:focus-visible) {
  background: var(--active);
}

.footer__custom__checkbox {
  user-select: none;
  cursor: pointer;
}

.footer__input__checkbox {
  position: absolute;
  appearance: none;
}

.footer__checkbox__txt {
  position: relative;
  display: inline-block;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  white-space: nowrap;
}

.footer__checkbox__txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  transform: translateY(-50%);
}

.footer__checkbox__txt::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/done.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.footer__input__checkbox:checked+.footer__checkbox__txt::after {
  opacity: 1;
}

.footer__right {
  width: calc(363 / 1770 * 100%);
  padding-top: 88px;
}

.footer__right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}
